<h1>"Should I stay or should I go?"</h1>

<h2>Background</h2>

<p>Okay, we've all been there... late at night, out on the town, needing to get home.</p>

<p>It's time to call a cab.</p>

<h3>Or is it?</h3>

<p>What if a taxi ride home isn't the cheapest option?</p>

<p>What if, for the same price or less, <strong>you could spend the night in a comfortable hotel instead?</strong></p>

<h3>Let Hotel Vs Taxi help you find out.</h3>

<h2>The tool</h2>

<p>Hotel Vs Taxi is a nifty new too tool to tell you which option is cheaper, living it up in a nearby hotel for the night, or getting a taxi home. Each hotel displayed will be within a 1 mile radius of your current location (found by trusty GPS) so you will only ever see the local options.</p>

<p>All you need to do is tell us where you would need to go in a taxi and then let our late hotel deals battle it out with local taxi fares to find the best option. Then simply book whichever you choose, hotel or taxi.</p>

<p>Ta Dah!  Evening sorted.</p>

<h2>The team</h2>

<p>12 guys and girls just looking to make a difference...or play about with computers...whichever you like. Either way we want to help you get to bed for the night, whilst saving you a few pennies along the way.</p>

<h2>FAQ</h2>

<h3>Where do you get your prices from?</h3>

<p>Our hotel prices are fed in directly from <strong>LateRooms.com</strong> and are all live. In order to book any hotel listed or to look at others, you will be taken directly to the LateRooms.com website.</p>

<p>Our Taxi prices come from <strong>yourtaximeter</strong>.</p>

<h3>How does yourtaximeter work?</h3>

<p>In Great Britain, the local district council set the maximum fares that taxis in that area can charge - not the taxi companies themselves. They've collected the tariff information for nearly all districts. We will then pull in a rate for 1 person to make your selected journey and display it with great accuracy.</p>

<h3>How does LateRooms.com work?</h3>

<p>Hotels upload and change prices/ availability on the website 24/7. These they feed into the website where you can book at any time of day. Customers wanting to book a room past 12am for the same night will need to call LateRooms.com directly on 0844 774 1001.</p>

<h3>Why was the actual fare for a taxi greater than Hotel vs Taxi predicted?</h3>

<ul>
    <li>because of any waiting time, for example at traffic lights</li>
    <li>because the taxi took a longer route, possibly to avoid delays at lights</li>
    <li>because of other 'extras' eg luggage, call out charge.</li>
    <li>or there may be an error in the tariffs. Please let us know if you think we have them wrong.</li>
</ul>

<h3>Why was the actual fare less than Hotel vs Taxi predicted?</h3>

<ul>
    <li>Hotel vs Taxi reports the maximum fare for the distance, taxi operators may charge less. The taxi operator may not have charged for extra passengers for which he may be entitled</li>
    <li>because Google maps chooses the quickest route, and your driver may have chosen the shortest route. The quickest route can be significantly longer when a motorway is used.</li>
    <li>or there may be an error in our tariffs. Please let us know if you think we have them wrong.</li>
</ul>

<h3>What if I want to look a future dates, for more people or refine hotel searches?</h3>

<p>We are glad you like the tool enough to put it to more use! We are looking at all of these things and hope to have more options for you soon.</p>

<p>For now, you can find the answer to most of your questions via LateRooms.com or yourtaximeter.</p>

<p>If you do have any further questions or queries please get in touch and send them to <a href="mailto:hello@laterooms.com">hello@laterooms.com</a> or tweet us @@hotelvstaxi</p>