<h2>Terms of Use</h2>

<p>Use of Hotel Vs Taxi is subject to the below terms and conditions:</p>

<h3>Taxi Prices</h3>

<p>The taxi rates shown on HotelvsTaxi are provided by YourTaximeter.com, a free online service that tells you exactly how much your taxi will cost before you get in it. The calculations are based on the fares set by the councils across the UK, taking every aspect of the tariff information into account: date, time, and based on an average fare for 1 passenger.</p>

<p>The fare calculator has proved to be so accurate that many taxi companies now use it when quoting prices for customers, however, please bear in mind that the taxi prices shown on Hotel Vs Taxi are calculated estimates only, based on information provided by local authorities in the United Kingdom via yourtaximeter.com. Whilst we try to make sure all information is correct and up to date we cannot guarantee its accuracy, so please be sure to get your own quote from the taxi company before booking your journey.</p>

<p>All routes are calculated using Google Maps. We have no affiliation with Google.</p>

<p>Hotel Vs Taxi accepts no liability for any incorrect taxi fares or personal decisions based on using the site.</p>

<p>Be sure to get your own quote from the taxi company before booking your journey. </p>

<h3>Hotel Prices</h3>

<p>All hotel prices shown are retrieved from LateRooms.com and as such are bound by the terms and conditions found at <a href="http://www.laterooms.com" target="_blank">www.laterooms.com</a>.</p>

<h3>Third party terms and conditions</h3>

<p>HotelvsTaxi makes use of information from YourTaxiMeter.com when calculating the maximum estimated fare. As such, users of HotelvsTaxi.com are also subject to the YourTaxiMeter.com  general Terms of Use, Privacy Policy and Disclaimer (<a href="http://yourtaximeter.com/main/disclaimer">yourtaximeter.com/main/disclaimer</a>).</p>

<h2>Privacy Policy</h2>

<p>This policy sets out how we can associated companies treat your personal data:</p>

<p>By disclosing your personal information to us by using our website, you consent to the collection, storage and processing of your personal information as stated in this policy. </p>

<p>The personal information that we collect from you shall be obtained, processed and transmitted in compliance with applicable data protection legislation. Since our servers are located in the United Kingdom, the personal information that we collect from you shall be obtained, processed and transmitted in compliance with European Directives 95/46 and 2002/58, as well as any other such legislation that replaces, substitutes, complements and develops it such as the Data Protection Act 1998 from the United Kingdom.</p>

<p>"Personal Information" means information that relates to a living individual who can be identified from that information or from that information together with other information which is held by or is likely to be held by us.</p>

<h3>What personal information do we collect?</h3>

<p>Your geographical location and destination as entered by you into the Hotel Vs Taxi tool.</p>

<p>Information about your computer or mobile device and about your visits to and use of this website (including your IP address, geographical location, browser/platform type and version, Internet Service Provider (ISP) and (for users of our service through a mobile device) Unique Device Identifier, operating system, referral source/exit pages, length of visit, page views, website navigation, date/time stamp information and details like the number and location of (mouse) clicks on a given page, mouse movements, scrolling activity and the (search) words you use and the text you type while being on and using our website).</p>

<h3>How do we use your personal information?</h3>

<p>Personal information submitted to us via this website will be used for the purposes specified in this privacy policy or in relevant parts of the website.</p>

<p>We may use your personal information to:</p>

<ul>
    <li>provide the service offered by the Hotel Vs Taxi tool</li>
    <li>manage and administer the website</li>
    <li>improve your browsing experience by personalising the website</li>
    <li>to analyse and improve the services offered on our website and to provide you with the most user-friendly navigation experience.</li>
</ul>

<p>We will not provide your personal information to any third parties for the purpose of direct marketing. You expressly agree to such uses of personal information.</p>

<h3>Third Party Websites</h3>

<p>The website contains links to other websites. We are not responsible for the privacy policies or practices of third party websites including use of cookies on such third party websites and you should refer to the third party's privacy policy for more information.</p>

<p>Hotel Vs Taxi uses LateRooms.com to find you the hotel options displayed within the tool. You will be directed to LateRooms.com if you wish to learn more about or book a hotel and as such you will be subject to the LateRooms.com Privacy Policy detailed at <a href="http://www.laterooms.com/en/static/TermsOfUse.mvc#s4">www.laterooms.com/en/static/TermsOfUse.mvc#s4</a></p>

<p>Hotel Vs Taxi also uses the Google API and therefore incorporates the Google privacy policy detailed at <a href="http://www.google.com/privacy.html">www.google.com/privacy.html</a></p>

<h3>Policy amendments</h3>

<p>We may update this privacy policy from time-to-time by posting a new version on our website. You should check this page occasionally to ensure you are happy with any changes. Your continued use of the website shall constitute your agreement and acceptance of the changes to this policy.</p>

<h3>Contact</h3>

<p>If you have any questions about this privacy policy or our treatment of your personal information, please write to us by email to <a href="mailto:hello@hotelvstaxi.com">hello@hotelvstaxi.com</a></p>