@using Results
@model LocalTaxiFare.Models.ResultsViewModel

<div class="container search-results">
        <h1>Whoops!</h1>
        <p>
            The fight got a bit messy and we have no clear winner.
            <br/>
            <!-- @Model.Error.Message -->
            <!-- @Model.Error.StackTrace-->
        </p>
    </div>