@{
    ViewBag.Title = "Fight";
}


<div id="fight-holder">
    <h2>Hotel and taxi are scrapping it out for your best deal...</h2>
    <div class="modal-fight"></div>
</div>

@section Scripts {
    <script type="text/javascript" src="/assets/js/fight.js"></script>
}