@model LocalTaxiFare.Models.TaxisViewModel

<div class="taxi-near-you-holder">
    <h2>Taxis near you - Average price: @string.Format("{0:C}", Model.AveragePrice)
    </h2>
    <div class="arrow-down"></div>
</div>

@foreach (var taxi in Model.TaxiFirms)
{
    <a class="taxi-company" href="tel:@taxi.Number">
        <div class="taxi-comp-holder">
            <div class="taxi-name-holder"> @taxi.Name</div> <div class="taxi-phone-no">@taxi.Number</div>
        </div>
    </a>
}